.heading {
  text-align: center;
  margin-block-end: 0;
}

.addToPlaylistTopSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* Style for `ft-prompt` */
:deep(.promptCard:not(.autosize)) {
  /* Currently only this prompt has enough content to make prompt too high */
  max-block-size: 95%;
  max-inline-size: 500px;
  position: relative;
  margin-inline: auto;

  /* Some child(s) will grow vertically */
  display: flex;
  flex-direction: column;
}

.playlistSearchBar {
  margin-inline-end: 0;
}

.playlistsContainerOuter {
  box-shadow: inset 0 0 5px rgba(0,0,0,.5);

  /* Use remaining height */
  flex-grow: 1;

  overflow-y: scroll;
}

.playlistsContainerInner {
  flex-direction: column;
}

.playlistSelectorContainer {
  /* Make them look selectable */
  cursor: pointer;
}
